### Import Libararies

In [20]:
import pandas as pd
import requests

### Read data of accommodation galleries within the UK

In [21]:
file='csv/image_gallery_uk.csv'
df= pd.read_csv(file,low_memory=False)
len(df)

138314

In [9]:
df_filt_dist = df[df['distance_to_bigben'] <= 16]
df_filt_dist

,accommodation_id,image_id,image,tag_name,probability,accommodation_name,dt,latitude,longitude,distance_to_bigben
44,37153904,I4RH7AXS7KMP22RJNXZS33YPYVYHEONK7HEXBP6NGC5DKX...,https://imgcy.trivago.com/partner-images/47/22...,bedroom,0.9999,Lux City Apartment,2024-03-07,51.46641,-0.01654,8.487797
45,37153904,E7IGCMRRGFGYESTFR3GQKYQ52UYOV5RN6VYBSJJ4QG62NQ...,https://imgcy.trivago.com/partner-images/27/d0...,kitchenette-kitchen,0.9999,Lux City Apartment,2024-03-07,51.46641,-0.01654,8.487797
46,37153904,PXIDFESAPP2ZJ7SEPPZAPAM6VAD6BAMDIHKNL3FM7UT4ZK...,https://imgcy.trivago.com/partner-images/7d/d0...,reception,0.9961,Lux City Apartment,2024-03-07,51.46641,-0.01654,8.487797
47,37153904,7NF5HY7GTBKGWWDXQ3PMSMETWUUFXIRKKX64HIPFNL4ECH...,https://imgcy.trivago.com/partner-images/fb/4b...,bedroom,0.9999,Lux City Apartment,2024-03-07,51.46641,-0.01654,8.487797
48,37153904,XKEOCSK7V7XGBBM5OTGBM35IXKHVQFCI4M2AZ74WCUNDKU...,https://imgcy.trivago.com/partner-images/ba/88...,gym,1.0000,Lux City Apartment,2024-03-07,51.46641,-0.01654,8.487797
...,...,...,...,...,...,...,...,...,...,...
145875,33939848,3L5YL7TH2SHSJVBK6E72LNRTUQ6BKTK55B3F5CUDNWAPV3...,https://imgcy.trivago.com/partner-images/da/fb...,bedroom,0.9999,"Modern One Bedroom In Fitzrovia, Central London",2024-03-07,51.51917,-0.13712,1.715436
145876,33939848,6SRIF55L2QURU3CWAOUAVXS7IVF6DVQHV2A67O5JU7SXWL...,https://imgcy.trivago.com/partner-images/f4/a2...,kitchenette-kitchen,0.9723,"Modern One Bedroom In Fitzrovia, Central London",2024-03-07,51.51917,-0.13712,1.715436
145877,33939848,TTNSATLWKCLGK7CA4ZWJQQDF2OE5TLKS6WDTUOEP3NFNOV...,https://imgcy.trivago.com/partner-images/9c/db...,living-room,0.9848,"Modern One Bedroom In Fitzrovia, Central London",2024-03-07,51.51917,-0.13712,1.715436
145878,33939848,DDUGCRA2535ZLJFXOJS6PWSZGLD2XIEEMJCMKLMP7DVXOZ...,https://imgcy.trivago.com/partner-images/18/e8...,living-room,0.9999,"Modern One Bedroom In Fitzrovia, Central London",2024-03-07,51.51917,-0.13712,1.715436
145879,33939848,AC4WC6QRQRUHZ2WY3GF32MEL6HGWAGBWXQS7CIN3FBWZTS...,https://imgcy.trivago.com/partner-images/00/b9...,living-room,0.9848,"Modern One Bedroom In Fitzrovia, Central London",2024-03-07,51.51917,-0.13712,1.715436

In [5]:
words_to_drop = ['Living Room', 'Bathroom', 'Kitchette/Kitchen']

# Filter the DataFrame
df_filt_tag= df_filt_dist[~df_filt_dist['tag_name'].isin(words_to_drop)]

In [6]:
len_df_distance = len(df_filt_dist)
print("Original size of dataframe", len_df_distance)
len_df_distance_tag = len(df_filt_tag)
print("Size of dataframe filtered after exluding tags", len_df_distance_tag)

Original size of dataframe 526604
Size of dataframe filtered after exluding tags 467911

In [7]:
perc_discarded_img= 100 - (len_df_distance_tag/len_df_distance *100)
print("Perctange of discarded images",perc_discarded_img)

Perctange of discarded images 11.145566687681836

In [9]:
unique_df_extract=pd.DataFrame(df_filt_tag).reset_index(drop=True)
unique_df_extract =unique_df_extract.drop_duplicates(subset='accommodation_id')
df_less1km = unique_df_extract[unique_df_extract['distance_to_bigben'] <= 1].copy()

In [10]:
df_less1km
df_less1km_api= df_less1km[['accommodation_id','latitude', 'longitude']].copy()

In [11]:
len(df_less1km_api)

6379

In [12]:
import numpy as np

In [ ]:
def get_duration(api_key, start_lat, start_lng, end_lat, end_lng, mode):
    base_url = "https://maps.googleapis.com/maps/api/distancematrix/json"
    parameters = {
        'origins': f"{start_lat},{start_lng}",
        'destinations': f"{end_lat},{end_lng}",
        'mode': mode,
        'key': api_key
    }
    response = requests.get(base_url, params=parameters)
    data = response.json()

    if data['status'] == 'OK':
        duration = data['rows'][0]['elements'][0]['duration']['text']
        return duration
    else:
        return "Error: " + data['status']

# Replace these with your API key and coordinates
api_key = 'AIzaSyD3UCQwzaxzdqZdx3NkgABCm7aYXxu2RT4'

# Calculate driving distance from property to Big Ben

df_less1km_api ['driving_distance'] = df_less1km_api .apply(lambda row: get_duration(api_key, row['latitude'], row['longitude'], 51.510357, -0.116773, 'driving'), axis=1)

# Calculate walking distance from property to Big Ben

df_less1km_api['walking_distance'] = df_less1km_api.apply(lambda row: get_duration(api_key, row['latitude'], row['longitude'], 51.510357, -0.116773, 'walking'), axis=1)

# Calculate Transit distance from property to Big Ben

df_less1km_api['transit_distance'] = df_less1km_api.apply(lambda row: get_duration(api_key, row['latitude'], row['longitude'], 51.510357, -0.116773, 'transit'), axis=1)

In [60]:
df_less1km_api.to_csv('unique_df_extract_1km.csv', index=False)

In [14]:
df_less1km_api

        accommodation_id  latitude  longitude
23                 12763  51.50706   -0.12470
38               6163536  51.50719   -0.12727
42               6149618  51.51183   -0.11547
44                 98763  51.50710   -0.10490
62               7867372  51.51354   -0.12616
...                  ...       ...        ...
439609          34071638  51.51437   -0.10970
448785          32684560  51.51443   -0.10912
458443          32809220  51.50722   -0.12750
464649          27172082  51.50722   -0.12750
465889          27878732  51.50722   -0.12750

[6379 rows x 3 columns]

In [15]:
df_less2km = unique_df_extract[(unique_df_extract['distance_to_bigben'] > 1) & (unique_df_extract['distance_to_bigben'] <= 2)].copy()
df_less2km_api= df_less2km[['accommodation_id','latitude', 'longitude']].copy()
len(df_less2km_api)

1495

In [70]:
df_less2km_api ['driving_distance'] = df_less2km_api .apply(lambda row: get_duration(api_key, row['latitude'], row['longitude'], 51.510357, -0.116773, 'driving'), axis=1)

# Calculate walking distance from property to Big Ben

df_less2km_api['walking_distance'] = df_less2km_api.apply(lambda row: get_duration(api_key, row['latitude'], row['longitude'], 51.510357, -0.116773, 'walking'), axis=1)

# Calculate Transit distance from property to Big Ben

df_less2km_api['transit_distance'] = df_less2km_api.apply(lambda row: get_duration(api_key, row['latitude'], row['longitude'], 51.510357, -0.116773, 'transit'), axis=1)

In [71]:
df_less2km_api.to_csv('unique_df_extract_2km.csv', index=False)

In [16]:
df_less2km_api

        accommodation_id  latitude  longitude
5                1771841  51.52167   -0.13191
6                1076152  51.50652   -0.09861
8                 149119  51.52631   -0.12695
21               4885128  51.51682   -0.13284
30               1321090  51.50081   -0.11735
...                  ...       ...        ...
449041             81674  51.52620   -0.12700
458318          35116848  51.52319   -0.12517
462355          34852214  51.49715   -0.10526
463027          33184790  51.52053   -0.13892
464245          17430642  51.51338   -0.13291

[1495 rows x 3 columns]

In [17]:
df_less2km_api = df_less2km_api['driving_distance'].dtype
print("Data type of column A:", df_less2km_api)

KeyError: 'driving_distance'

In [18]:
df_less3km = unique_df_extract[(unique_df_extract['distance_to_bigben'] > 2) & (unique_df_extract['distance_to_bigben'] <= 3)].copy()
df_less3km_api= df_less3km[['accommodation_id','latitude', 'longitude']].copy()
len(df_less3km_api)

2165

In [19]:
df_less3km_api ['driving_distance'] = df_less3km_api .apply(lambda row: get_duration(api_key, row['latitude'], row['longitude'], 51.510357, -0.116773, 'driving'), axis=1)

# Calculate walking distance from property to Big Ben

df_less3km_api['walking_distance'] = df_less3km_api.apply(lambda row: get_duration(api_key, row['latitude'], row['longitude'], 51.510357, -0.116773, 'walking'), axis=1)

# Calculate Transit distance from property to Big Ben

df_less3km_api['transit_distance'] = df_less3km_api.apply(lambda row: get_duration(api_key, row['latitude'], row['longitude'], 51.510357, -0.116773, 'transit'), axis=1)

In [20]:
df_less3km_api.to_csv('unique_df_extract_3km.csv', index=False)

In [21]:
df_less3km_api

,accommodation_id,latitude,longitude,driving_distance,walking_distance,transit_distance
11,6337722,51.52261,-0.08426,14 mins,45 mins,30 mins
14,1384023,51.50575,-0.14770,13 mins,36 mins,25 mins
26,2254426,51.49574,-0.14627,13 mins,43 mins,16 mins
49,32801,51.49024,-0.13776,14 mins,44 mins,24 mins
56,6152756,51.52845,-0.09202,14 mins,45 mins,32 mins
...,...,...,...,...,...,...
459669,6363432,51.49073,-0.14448,14 mins,46 mins,24 mins
463076,31720582,51.53112,-0.09271,17 mins,49 mins,36 mins
463334,5120614,51.50729,-0.14539,13 mins,34 mins,23 mins
467378,34126830,51.52210,-0.14049,16 mins,35 mins,24 mins
467732,34281252,51.52946,-0.08843,15 mins,49 mins,33 mins

In [22]:
df_less4km = unique_df_extract[(unique_df_extract['distance_to_bigben'] > 3) & (unique_df_extract['distance_to_bigben'] <= 4)].copy()
df_less4km_api= df_less4km[['accommodation_id','latitude', 'longitude']].copy()
len(df_less4km_api)

2734

In [82]:
df_less4km_api ['driving_distance'] = df_less4km_api .apply(lambda row: get_duration(api_key, row['latitude'], row['longitude'], 51.510357, -0.116773, 'driving'), axis=1)

# Calculate walking distance from property to Big Ben

df_less4km_api['walking_distance'] = df_less4km_api.apply(lambda row: get_duration(api_key, row['latitude'], row['longitude'], 51.510357, -0.116773, 'walking'), axis=1)

# Calculate Transit distance from property to Big Ben

df_less4km_api['transit_distance'] = df_less4km_api.apply(lambda row: get_duration(api_key, row['latitude'], row['longitude'], 51.510357, -0.116773, 'transit'), axis=1)

In [83]:
df_less4km_api.to_csv('unique_df_extract_4km.csv', index=False)
df_less4km_api

,accommodation_id,latitude,longitude,driving_distance,walking_distance,transit_distance
2,6353248,51.49758,-0.15627,15 mins,53 mins,24 mins
22,2727004,51.49224,-0.16500,18 mins,1 hour 5 mins,25 mins
44,6308230,51.51646,-0.16171,17 mins,54 mins,32 mins
223,12663,51.51430,-0.17281,19 mins,1 hour 3 mins,31 mins
351,47063,51.49985,-0.16047,18 mins,52 mins,23 mins
...,...,...,...,...,...,...
4945581,28721154,51.51600,-0.06939,14 mins,51 mins,20 mins
4993626,31366448,51.52642,-0.06626,19 mins,1 hour 2 mins,38 mins
4996333,33957182,51.54335,-0.12679,23 mins,1 hour 1 min,32 mins
4996787,33105426,51.51965,-0.16444,21 mins,1 hour 1 min,35 mins
4996839,34195422,51.47955,-0.14108,16 mins,1 hour 4 mins,30 mins

In [23]:
df_4_6km = unique_df_extract[(unique_df_extract['distance_to_bigben'] > 4) & (unique_df_extract['distance_to_bigben'] <= 6)].copy()
df_4_6km_api= df_4_6km[['accommodation_id','latitude', 'longitude']].copy()
len(df_4_6km_api)

4834

In [86]:
df_4_6km_api ['driving_distance'] = df_4_6km_api .apply(lambda row: get_duration(api_key, row['latitude'], row['longitude'], 51.510357, -0.116773, 'driving'), axis=1)

# Calculate walking distance from property to Big Ben

df_4_6km_api['walking_distance'] = df_4_6km_api.apply(lambda row: get_duration(api_key, row['latitude'], row['longitude'], 51.510357, -0.116773, 'walking'), axis=1)

# Calculate Transit distance from property to Big Ben

df_4_6km_api['transit_distance'] = df_4_6km_api.apply(lambda row: get_duration(api_key, row['latitude'], row['longitude'], 51.510357, -0.116773, 'transit'), axis=1)

In [87]:
df_4_6km_api.to_csv('unique_df_extract_4to6km.csv', index=False)
df_4_6km_api

,accommodation_id,latitude,longitude,driving_distance,walking_distance,transit_distance
59,2621793,51.49388,-0.18988,23 mins,1 hour 22 mins,31 mins
61,4716820,51.51188,-0.18605,22 mins,1 hour 16 mins,46 mins
181,47695,51.49453,-0.17862,22 mins,1 hour 12 mins,32 mins
225,1844573,51.49062,-0.19096,25 mins,1 hour 27 mins,31 mins
242,3845066,51.52448,-0.03669,22 mins,1 hour 25 mins,35 mins
...,...,...,...,...,...,...
4945968,31441626,51.49143,-0.17095,23 mins,1 hour 10 mins,32 mins
4949036,920463,51.56056,-0.11485,27 mins,1 hour 31 mins,30 mins
4996710,35193174,51.53271,-0.05654,22 mins,1 hour 19 mins,34 mins
5046251,34460118,51.53419,-0.16692,24 mins,1 hour 12 mins,41 mins
5046435,33178654,51.48439,-0.17596,21 mins,1 hour 18 mins,35 mins

In [88]:
def concatenate_csv(files):
    
    dataframes = [pd.read_csv(file) for file in files]
    concatenated_df = pd.concat(dataframes, ignore_index=True)
    return concatenated_df

In [92]:
# Usage
file_paths = ['unique_df_extract_1km.csv', 'unique_df_extract_2km.csv', 'unique_df_extract_3km.csv', 'unique_df_extract_4km.csv', 'unique_df_extract_4to6km.csv']
combined_df_duration_api = concatenate_csv(file_paths)
combined_df_duration_api.to_csv('combined_df_duration_api.csv', index=False)

## Merge

In [125]:
df_filt_tag=df_filt_tag[df_filt_tag['distance_to_bigben'] <= 6]
expand_df_results = pd.merge(df_filt_tag, combined_df_duration_api, on='accommodation_id', how='left')
expand_df_results

,dt,accommodation_id,image_id,tag_name,probability,tag_id,image,row_num,name,latitude_x,longitude_x,distance_to_bigben,latitude_y,longitude_y,driving_distance,walking_distance,transit_distance
0,2023-10-28,6353248,1271698,Bedroom,1.000000,134.0,https://imgcy.trivago.com/partnerimages/19/73/...,1,Chesham Court,51.49758,-0.15627,3.080906,51.49758,-0.15627,15 mins,53 mins,24 mins
1,2023-10-28,2727004,5810553,Bedroom,1.000000,134.0,https://imgcy.trivago.com/uploadimages/22/07/2...,1,Nell Gwynn House Apartments,51.49224,-0.16500,3.898963,51.49224,-0.16500,18 mins,1 hour 5 mins,25 mins
2,2023-10-28,6308230,5912561,Bedroom,0.999989,134.0,https://imgcy.trivago.com/uploadimages/21/27/2...,1,The Cheerful Spirit,51.51646,-0.16171,3.182837,51.51646,-0.16171,17 mins,54 mins,32 mins
3,2023-10-28,2621793,5991252,NaN,NaN,NaN,https://imgcy.trivago.com/uploadimages/20/45/2...,1,My Apartments london,51.49388,-0.18988,5.381745,51.49388,-0.18988,23 mins,1 hour 22 mins,31 mins
4,2023-10-28,4716820,5998412,Bedroom,0.977580,134.0,https://imgcy.trivago.com/uploadimages/21/02/2...,1,Hyde Park Superior Apartments,51.51188,-0.18605,4.797214,51.51188,-0.18605,22 mins,1 hour 16 mins,46 mins
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
339992,2023-10-28,31254432,1030182672,NaN,NaN,NaN,https://imgcy.trivago.com/partnerimages/19/41/...,1,Guestready - Calm And Modern North London Home,51.50722,-0.12750,0.820251,51.50722,-0.12750,4 mins,14 mins,9 mins
339993,2023-10-28,35841984,1030263045,NaN,NaN,NaN,https://imgcy.trivago.com/partnerimages/19/41/...,1,Altido Elegant Apt In Leicester Square,51.50990,-0.12921,0.862204,51.50990,-0.12921,7 mins,14 mins,9 mins
339994,2023-10-28,10501894,1030281693,NaN,NaN,NaN,https://imgcy.trivago.com/partnerimages/19/41/...,1,Fantastic 1br Home - 1 Stop To Canary Wharf!,51.50122,-0.04827,4.848851,51.50122,-0.04827,22 mins,1 hour 22 mins,35 mins
339995,2023-10-28,35865902,1030409156,NaN,NaN,NaN,https://imgcy.trivago.com/partnerimages/19/41/...,1,Earls Court Private Entrance 1 Bedroom Flat,51.48895,-0.19031,5.619374,51.48895,-0.19031,24 mins,1 hour 27 mins,40 mins
339996,2023-10-28,35865902,1030409165,NaN,NaN,NaN,https://imgcy.trivago.com/partnerimages/19/41/...,1,Earls Court Private Entrance 1 Bedroom Flat,51.48895,-0.19031,5.619374,51.48895,-0.19031,24 mins,1 hour 27 mins,40 mins

## Filter results according to duration accepted from survey

### 1. convert string duration to minutes

In [126]:
def convert_to_minutes(duration_str):
    total_minutes = 0
    parts = duration_str.split()

    for i in range(0, len(parts), 2):  # Iterate in steps of 2
        value = int(parts[i])
        unit = parts[i + 1]

        if 'hour' in unit:
            total_minutes += value * 60
        elif 'min' in unit:
            total_minutes += value

    return total_minutes

In [127]:
expand_df_results['driving_distance'] = expand_df_results['driving_distance'].apply(convert_to_minutes)
expand_df_results['walking_distance'] = expand_df_results['walking_distance'].apply(convert_to_minutes)
expand_df_results['transit_distance'] = expand_df_results['transit_distance'].apply(convert_to_minutes)

### drop duplicate and unneccessary columns

In [128]:
expand_df_results.drop(['latitude_y', 'longitude_y', 'row_num'], axis=1, inplace=True)

In [129]:
expand_df_results

,dt,accommodation_id,image_id,tag_name,probability,tag_id,image,name,latitude_x,longitude_x,distance_to_bigben,driving_distance,walking_distance,transit_distance
0,2023-10-28,6353248,1271698,Bedroom,1.000000,134.0,https://imgcy.trivago.com/partnerimages/19/73/...,Chesham Court,51.49758,-0.15627,3.080906,15,53,24
1,2023-10-28,2727004,5810553,Bedroom,1.000000,134.0,https://imgcy.trivago.com/uploadimages/22/07/2...,Nell Gwynn House Apartments,51.49224,-0.16500,3.898963,18,65,25
2,2023-10-28,6308230,5912561,Bedroom,0.999989,134.0,https://imgcy.trivago.com/uploadimages/21/27/2...,The Cheerful Spirit,51.51646,-0.16171,3.182837,17,54,32
3,2023-10-28,2621793,5991252,NaN,NaN,NaN,https://imgcy.trivago.com/uploadimages/20/45/2...,My Apartments london,51.49388,-0.18988,5.381745,23,82,31
4,2023-10-28,4716820,5998412,Bedroom,0.977580,134.0,https://imgcy.trivago.com/uploadimages/21/02/2...,Hyde Park Superior Apartments,51.51188,-0.18605,4.797214,22,76,46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
339992,2023-10-28,31254432,1030182672,NaN,NaN,NaN,https://imgcy.trivago.com/partnerimages/19/41/...,Guestready - Calm And Modern North London Home,51.50722,-0.12750,0.820251,4,14,9
339993,2023-10-28,35841984,1030263045,NaN,NaN,NaN,https://imgcy.trivago.com/partnerimages/19/41/...,Altido Elegant Apt In Leicester Square,51.50990,-0.12921,0.862204,7,14,9
339994,2023-10-28,10501894,1030281693,NaN,NaN,NaN,https://imgcy.trivago.com/partnerimages/19/41/...,Fantastic 1br Home - 1 Stop To Canary Wharf!,51.50122,-0.04827,4.848851,22,82,35
339995,2023-10-28,35865902,1030409156,NaN,NaN,NaN,https://imgcy.trivago.com/partnerimages/19/41/...,Earls Court Private Entrance 1 Bedroom Flat,51.48895,-0.19031,5.619374,24,87,40
339996,2023-10-28,35865902,1030409165,NaN,NaN,NaN,https://imgcy.trivago.com/partnerimages/19/41/...,Earls Court Private Entrance 1 Bedroom Flat,51.48895,-0.19031,5.619374,24,87,40

### Rename some columns using a dictionary

In [130]:
expand_df_results= expand_df_results.rename(columns={'latitude_x': 'latitude', 'longitude_x': 'longitude' , 'driving_distance': 'driving_duration', 'walking_distance': 'walking_duration', 'transit_distance': 'transit_duration'})

In [131]:
expand_df_results

,dt,accommodation_id,image_id,tag_name,probability,tag_id,image,name,latitude,longitude,distance_to_bigben,driving_duration,walking_duration,transit_duration
0,2023-10-28,6353248,1271698,Bedroom,1.000000,134.0,https://imgcy.trivago.com/partnerimages/19/73/...,Chesham Court,51.49758,-0.15627,3.080906,15,53,24
1,2023-10-28,2727004,5810553,Bedroom,1.000000,134.0,https://imgcy.trivago.com/uploadimages/22/07/2...,Nell Gwynn House Apartments,51.49224,-0.16500,3.898963,18,65,25
2,2023-10-28,6308230,5912561,Bedroom,0.999989,134.0,https://imgcy.trivago.com/uploadimages/21/27/2...,The Cheerful Spirit,51.51646,-0.16171,3.182837,17,54,32
3,2023-10-28,2621793,5991252,NaN,NaN,NaN,https://imgcy.trivago.com/uploadimages/20/45/2...,My Apartments london,51.49388,-0.18988,5.381745,23,82,31
4,2023-10-28,4716820,5998412,Bedroom,0.977580,134.0,https://imgcy.trivago.com/uploadimages/21/02/2...,Hyde Park Superior Apartments,51.51188,-0.18605,4.797214,22,76,46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
339992,2023-10-28,31254432,1030182672,NaN,NaN,NaN,https://imgcy.trivago.com/partnerimages/19/41/...,Guestready - Calm And Modern North London Home,51.50722,-0.12750,0.820251,4,14,9
339993,2023-10-28,35841984,1030263045,NaN,NaN,NaN,https://imgcy.trivago.com/partnerimages/19/41/...,Altido Elegant Apt In Leicester Square,51.50990,-0.12921,0.862204,7,14,9
339994,2023-10-28,10501894,1030281693,NaN,NaN,NaN,https://imgcy.trivago.com/partnerimages/19/41/...,Fantastic 1br Home - 1 Stop To Canary Wharf!,51.50122,-0.04827,4.848851,22,82,35
339995,2023-10-28,35865902,1030409156,NaN,NaN,NaN,https://imgcy.trivago.com/partnerimages/19/41/...,Earls Court Private Entrance 1 Bedroom Flat,51.48895,-0.19031,5.619374,24,87,40
339996,2023-10-28,35865902,1030409165,NaN,NaN,NaN,https://imgcy.trivago.com/partnerimages/19/41/...,Earls Court Private Entrance 1 Bedroom Flat,51.48895,-0.19031,5.619374,24,87,40

### 2. Drop columns that exceed the accepted duration

In [133]:
condition = (expand_df_results['driving_duration'] <= 10) | (expand_df_results['walking_duration'] <= 20) | (expand_df_results['transit_duration'] <= 20)

# Drop the rows based on the condition
expand_df_results = expand_df_results[condition]

In [134]:
expand_df_results.to_csv('expand_df_results_filter_acceptedduration.csv', index=False)

In [135]:
expand_df_results

,dt,accommodation_id,image_id,tag_name,probability,tag_id,image,name,latitude,longitude,distance_to_bigben,driving_duration,walking_duration,transit_duration
6,2023-10-28,1076152,6196054,Bedroom,0.999992,134.0,https://imgcy.trivago.com/uploadimages/25/11/2...,LSE Bankside House,51.50652,-0.09861,1.327455,8,23,15
7,2023-10-28,149119,6559540,Bedroom,0.999931,134.0,https://imgcy.trivago.com/uploadimages/20/71/2...,The Euro Hotel,51.52631,-0.12695,1.908551,13,32,18
9,2023-10-28,6337722,6790010,Bedroom,0.999999,134.0,https://imgcy.trivago.com/uploadimages/21/79/2...,Point A London Shoreditch,51.52261,-0.08426,2.630158,12,45,18
15,2023-10-28,4885128,7777056,Bedroom,0.999997,134.0,https://imgcy.trivago.com/uploadimages/25/48/2...,Emily Apartments,51.51682,-0.13284,1.323874,13,23,19
17,2023-10-28,12763,8156527,NaN,NaN,NaN,https://imgcy.trivago.com/uploadimages/80/93/8...,Citadines Trafalgar Square London,51.50706,-0.12470,0.659828,3,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
339986,2023-10-28,30445460,1029586160,NaN,NaN,NaN,https://imgcy.trivago.com/partnerimages/19/40/...,Guestready - Incredible 2-bed Townhouse In Rot...,51.50722,-0.12750,0.820251,4,14,11
339987,2023-10-28,27726506,1029614239,NaN,NaN,NaN,https://imgcy.trivago.com/partnerimages/19/40/...,Guestready - Family Home With Garden For 6,51.50722,-0.12750,0.820251,4,14,14
339988,2023-10-28,29487084,1029621415,NaN,NaN,NaN,https://imgcy.trivago.com/partnerimages/19/40/...,Guestready - Modern Top Floor Central 1br Flat,51.50722,-0.12750,0.820251,4,14,14
339992,2023-10-28,31254432,1030182672,NaN,NaN,NaN,https://imgcy.trivago.com/partnerimages/19/41/...,Guestready - Calm And Modern North London Home,51.50722,-0.12750,0.820251,4,14,9
339993,2023-10-28,35841984,1030263045,NaN,NaN,NaN,https://imgcy.trivago.com/partnerimages/19/41/...,Altido Elegant Apt In Leicester Square,51.50990,-0.12921,0.862204,7,14,9